<div class="page-wrapper">
  <div class="pv-40 dark-translucent-bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="hc-element-invisible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
            <div class="form-block center-block p-30 light-gray-bg border-clear">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-8" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-md-8" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-md-8" %>
  </div>

  <div class="actions ml-md-auto col-md-9 space-top">
    <%= f.submit "Sign up", class: "btn btn-group btn-default btn-animated" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
