<!-- header-container start -->
<div class="header-container">
  <!-- header-top start -->
  <!-- classes:  -->
  <!-- "dark": dark version of header top e.g. class="header-top dark" -->
  <!-- "colored": colored version of header top e.g. class="header-top colored" -->
  <!-- ================ -->
  <div class="header-top dark">
    <div class="container">
      <div class="row">
        <div class="col-3 col-sm-6 col-lg-9">
          <!-- header-top-first start -->
          <!-- ================ -->
          <div class="header-top-first clearfix">
            <ul class="list-inline hidden-md-down">
              <li class="list-inline-item"><i class="fa fa-map-marker pr-1 pl-2"></i>Adress: Bordeaux-city, kitten-palace</li>
              <li class="list-inline-item"><i class="fa fa-phone pr-1 pl-2"></i>tel: 36 30</li>
              <li class="list-inline-item"><i class="fa fa-envelope-o pr-1 pl-2"></i>mail: chatonronron@gmail.com </li>
            </ul>
          </div>
          <!-- header-top-first end -->
        </div>
        <div class="col-9 col-sm-6 col-lg-3">

          <!-- header-top-second start -->
          <!-- ================ -->
          <div id="header-top-second"  class="clearfix">

            <!-- header top dropdowns start -->
            <!-- ================ -->
            </div>
            <% if user_session %>
            <div class="header-top-dropdown text-right">
              <div class="btn-group">
                <%= link_to edit_user_registration_path, class:"btn btn-default btn-sm" do %>
                   <i class="fa fa-user pr-2"></i> Edit Profil
                <% end %>
              </div>
              <div class="btn-group">
                <%= link_to destroy_user_session_path, class:"btn btn-default btn-sm", method: :delete do %>
                   <i class="fa fa-user pr-2"></i> Logout
                <% end %>
              </div>
            </div>
            <% else %>
            <div class="header-top-dropdown text-right">
              <div class="btn-group">
                <%= link_to new_user_registration_path, class:"btn btn-default btn-sm" do %>
                   <i class="fa fa-user pr-2"></i> Register
                <% end %>
              </div>
              <div class="btn-group">
                <%= link_to new_user_session_path, class:"btn btn-default btn-sm" do %>
                   <i class="fa fa-user pr-2"></i> Login
                <% end %>
              </div>
            </div>
            <% end %>
            <!--  header top dropdowns end -->
          </div>
          <!-- header-top-second end -->
        </div>
      </div>
    </div>
  </div>
  <!-- header-top end -->
  <!-- header start -->
  <!-- classes:  -->
  <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
  <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
  <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
  <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
  <!-- "centered": mandatory class for the centered logo layout -->
  <!-- ================ -->
  <header class="header fixed fixed-desktop clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-auto hidden-md-down">
          <!-- header-first start -->
          <!-- ================ -->
          <div class="header-first clearfix">

            <!-- logo -->
            <div id="logo" class="logo">
              <h3>Chatonronron</h3>
            </div>

            <!-- name-and-slogan -->
            <div class="site-slogan">
              <span>kitten-palace</span>
            </div>

          </div>
          <!-- header-first end -->

        </div>
        <div class="col-lg-8 ml-auto">

          <!-- header-second start -->
          <!-- ================ -->
          <div class="header-second clearfix">

            <!-- main-navigation start -->
            <!-- classes: -->
            <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
            <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
            <!-- ================ -->
            <div class="main-navigation main-navigation--mega-menu  animated">
              <nav class="navbar navbar-expand-lg navbar-light p-0">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                </div>
              </nav>
            </div>
            <!-- main-navigation end -->
          </div>
          <!-- header-second end -->

        </div>
        <div class="col-auto hidden-md-down">
          <!-- header dropdown buttons -->
          <div class="header-dropdown-buttons">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></button>
              <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-1">
                <li>
                  <form role="search" class="search-box margin-clear">
                    <div class="form-group has-feedback">
                      <input type="text" class="form-control" placeholder="Search">
                      <i class="fa fa-search form-control-feedback"></i>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
            <% if user_session %>
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-basket"></i></button>
              <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation" aria-labelledby="header-drop-2">
                <li>
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="product">Product</th>
                        <th class="amount">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%sum = 0; q = 0%>
                      <% if @cart %>
                        <%@cart.items.each do |c|%>
                        <tr class="remove-data">
                          <td class="product"><a href="shop-product.html"><%=c.title%></a></td>
                          <td class="price"> <%=c.price%> </td> <%sum += c.price%>
                        </tr>
                        <%q += 1%>
                        <%end%>
                      <% end %>
                      <tr>
                        <td class="total-quantity" colspan="3">Total <%=q%> Items</td>
                        <td class="total-amount"><%=sum%>$</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="panel-body text-right">
                    <%= link_to "View cart", mycart_path, class: "btn btn-group btn-gray btn-sm" %>
                  </div>
                </li>
              </ul>
            </div>
            <% else %>
            <% end %>
          </div>
          <!-- header dropdown buttons end -->
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->
</div>
<!-- header-container end -->
