<div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">
  <!-- banner start -->
  <!-- ================ -->
  <div class="banner border-clear light-translucent-bg" style="background-image:url('images/shop-banner.jpg');background-position: 50% 32%;">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-8 text-center pv-20">
          <h2 class="title hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">Wellcome to <strong>Chatonronron</strong></h2>
          <div class="separator hc-element-invisible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
          <p class="text-center hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- main-container start -->
  <!-- ================ -->
  <section class="main-container">

    <div class="container">
      <div class="row">

        <!-- main start -->
        <!-- ================ -->
        <div class="main col-12">
          <!-- pills start -->
          <!-- ================ -->
          <!-- Nav tabs -->
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item"><a class="nav-link active" href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals"><i class="fa fa-star"></i> Latest Arrivals</a></li>
            <li class="nav-item"><a class="nav-link" href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="fa fa-heart"></i> Featured</a></li>
            <li class="nav-item"><a class="nav-link" href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" fa fa-arrow-up"></i> Top Sellers</a></li>
          </ul>
          <!-- Tab panes -->

          <div class="tab-content clear-style">
            <div class="tab-pane active" id="pill-1">

              <div class="row grid-space-10">
                <% compter = 1 %>
                <% @items.each do |item| %>
                <div class="col-lg-4">
                  <div class="listing-item white-bg bordered mb-20">
                    <div class="overlay-container">
                      <a class="overlay-link popup-img-single" href= "" <i class="fa fa-search-plus"></i></a>
                      <div class="overlay-to-top links">
                        <span class="small">
                          <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a>
                          <a href="#" class="btn-sm-link"><i class="fa fa-link pr-1"></i>View Details</a>
                        </span>
                      </div>
                    </div>
                    <div class="body">
                      <h3><a href="items/<%= item.id %>"><%= item.title %></a></h3>
                      <p class="small"><%= item.description %></p>
                      <div class="elements-list clearfix">
                        <span class="price"><%= item.price %> $</span>
                        <% if user_session %>
                          <%= form_tag cart_path(item.id), method: :put, class: "add_to_cart_item_#{compter}" do %>
                            <%= hidden_field_tag :id, value: item.id %>
                            <%= submit_tag "Add To Cart", class: "pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" %>
                          <% end %>
                          <!-- <button class="">Add To Cart<i class="fa fa-shopping-cart"></i></button> -->
                          <script>
                            $(document).on("turbolinks:load", function (){
                              $(".add_to_cart_item_<%=compter%>").on("submit", function(event){
                                event.preventDefault()
                                let formData = $(this).serialize()
                                $.ajax({
                                  url: $(this).attr("action"),
                                  method: 'put',
                                  data: formData,
                                  success: function(){
                                    for(let i = 0; i < 1; i++){
                                      $('.beautiful-cart').prepend(
                                        '<tr class="remove-data">'+
                                          '<td class="product">'+
                                            '<a href="shop-product.html"><%=item.title%></a>'+
                                          '</td>'+
                                          '<td class="price"> <%=item.price%> </td>'+
                                        '</tr>')
                                    }
                                  }
                                })
                              })
                            })
                          </script>
                          <% compter += 1 %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>

            <!-- pills end -->
          </div>
          <!-- main end -->

        </div>
      </div>
    </section>
    <!-- main-container end -->


  </div>
